<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <h2>{{ header }}</h2>
        <form id="search_form"  class="form-inline" role="form" ng-submit="apiSearch()">
            <input ng-model="search" type="text" class="form-control" placeholder="Search Digital New Zealand!" />
            <button class="btn btn-lg btn-primary" type="submit" value="Search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-5 col-md-7" ng-show="loading">
        <img src="imgs/ajax.gif">
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-1">
        <a class="btn btn-info  ng-isolate-scope" id="about-btn" pageslide="left" ps-custom-top="40" href="#about">About</a>
    </div>
    <div class="col-md-11">
        <h3>Search: {{ search_term }}</h3>
    </div>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-6 bars" search="search_term" data="data" provider="digitalnz"></div>
    <div class="col-md-6 box-plot" search="search_term" data="data" provider="digitalnz"></div>
</div>

<div class="row" ng-show="loaded">
    <div class="col-md-12 treemap" search="search_term" data="data" provider="digitalnz"></div>
    <div class="col-md-12"><img src="imgs/digitalnz_logo_sm.jpg" alt="Digital New Zealand Logo"></div>
</div>

<div id="about" class="col-md-12 panel">
    <a class="btn btn-primary about" id="about-close">Close</a>
    <p>Search Digital New Zealand for a term or terms and view the metadata associated with your search.
        The metadata is shown as a bar chart, scatter plot and treemap.</p>
    <p>The first chart shows the total number of items split out by metadata type. The second graph shows
        the distribution of your search term(s). Hover over a bar or circle to see the value returned.
        The final graph is a treemap which shows the metadata terms
        returned. Click the graph to expand a section. Once expanded you can click a term's box to search for it. Click
        outside the treemap to close the section.</p>
    <p>The available metadata fields are: category, creator, language, provider, rights, subject and year. Metadata fields are based on
        which fields are facetable from the provider to reduce querying time.</p>
</div>