<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <h2>{{ header }}</h2>
        <p>MetaDash is an extension to <a href="http://www.deanfarr.com/metadata_explorer">Metadata Explorer</a> is
            an attempt to explore national digital libraries, pan-national digital libraries
            and libraries in general, in a different, hopefully
            useful way. Use MetaDash to search the DPLA, Europeana or Digital New Zealand for a term
            or terms and view the metadata associated with your search.
            </p>
        <p>The first chart shows the total number of items split out by metadata type. The second graph shows
        the distribution of your search term(s). Note: it uses a square root scale to better show outliers with the
            bulk of the returned values. Hover over a bar or circle to see the value returned.
         The final graph is a treemap which shows the metadata terms
        returned. Click the graph to expand a section. Once expanded you can click a term's box to search for it. Click
        outside the treemap to close the section.</p>
        <p>The metadata fields returned vary slightly by provider based on which fields can be returned as facet counts.
            This was done to reduce API calls to the providers.</p>
        <p>Any questions or comments can be directed to <a href="mailto:farrelldlfarrell@gmail.com">Dean Farrell</a>.</p>
    </div>
</div>